
.alienFrame {
  background-image:url("salle_alien.png") !important;
  background-size: 100% 100% !important;
}

.alienFrame #doors {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.alienFrame #alienText {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: red;
  bottom: 0%;
}

.alienFrame .alien {
	left:5%;
  width: 15%;
}

.alienFrame .alienImg {
  display : block;
  border: none;
  width : 100%;
  bottom : 0%;
}

.alienFrame .alien p {
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
  border: 1px white solid;
  border-radius: 5px;
  padding: 3px;
}
