
#frame {
  background-image:url("salle_alien.png");
  background-size: 100% 100%;
}

#frame #alienText {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: red;
  bottom: 0%;
}

#frame .alien {
	left:5%;
  height: 50%;
}

#frame .alienImg {
  display : block;
  border: none;
  height : 80%;
  bottom : 0%;
}

#frame p {
  display: inline-block;
  color: white;
  margin: 0px;
  text-align: center;
}

.animated {
  position: absolute;
  -webkit-animation: linear alienBox 10s 1;
  -moz-animation: linear alienBox 10s 1;
  animation: linear alienBox 10s 1;
}

@-webkit-keyframes alienBox {
  0% {
    left: 5%;
  }
  100% {
    left: 90%;
  }
}
@-moz-keyframes alienBox {
  0% {
    left: 5%;
  }
  100% {
    left: 90%;
  }
}
@keyframes 'alienBox' {
  0% {
    left: 5%;
  }
  100% {
    left: 90%;
  }
}
