
#frame img {
	position : absolute;
}

#frame .alien {
	left:5%;
	min-height: 10%;
}

#frame p {
  display: inline-block;
  color: white;
  margin: 0px;
  font-size: 100%
}

.animated {
  position: absolute;
  -webkit-animation: redBox 3s 1;
  -moz-animation: redBox 3s 1;
  animation: redBox 3s 1;
}

@-webkit-keyframes redBox {
  0% {
    left: 5%;
  }
  100% {
    left: 90%;
  }
}
@-moz-keyframes redBox {
  0% {
    left: 5%;
  }
  100% {
    left: 90%;
  }
}
@keyframes 'redBox' {
  0% {
    left: 5%;
  }
  100% {
    left: 90%;
  }
}
